@page "/admin"

<PageTitle>ADMIN auf CheckDiePreise!</PageTitle>

<MudText Typo="Typo.h4">Admin Bereich</MudText>

<MudText>adminPassword: @_adminPassword</MudText>

@if (_userPasswordInput != _adminPassword)
{
    <MudTextField @bind-Value="_userPasswordInput" Label="Bitte Admin-Passwort eingeben" Variant="MudBlazor.Variant.Text"></MudTextField>
}


@if (_userPasswordInput == _adminPassword)
{
    <MudText Class="mb-4">Bericht für: @DateTime.UtcNow.Date</MudText>

    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
        @if (todaysPriceChanges is not null && todaysDailyReports is not null)
        {
            @foreach (KeyValuePair<string, int> entry in todaysPriceChanges)
            {
                <MudText>
                    @entry.Key  : @entry.Value <br />
                </MudText>

                @if (todaysDailyReports[entry.Key] is not null)
                {
                    <MudText Typo="Typo.caption">@todaysDailyReports[entry.Key].Name , @todaysDailyReports[entry.Key].Price€ <br /></MudText>
                }
                else
                {

                    if (reciveDataUntilHour[entry.Key] > DateTime.UtcNow.Hour)
                    {
                        <MudText Color="Color.Warning">
                            WARTE AUF DATEN BIS @reciveDataUntilHour[entry.Key]  Uhr
                        </MudText>
                    }
                    else
                    {
                        <MudText Color="Color.Error">
                            KEINE DATEN
                        </MudText>
                    }
                }
                <br />
            }
        }
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Täglicher Bericht">
                @if (todaysPriceChanges is not null && todaysDailyReports is not null)
                {

                    <MudSimpleTable Style="overflow-x: auto;">
                        <thead>
                            <tr>
                                <th><strong>WebShop</strong></th>
                                <th><strong>Neue ProductChanges</strong></th>
                                <th><strong>DailyReport ProductChange</strong></th>
                                <th><strong>DailyReport Price</strong></th>
                                <th><strong>DailyReport Baseprice</strong></th>
                                <th><strong>DailyReport BasepriceUnit</strong></th>
                                <th><strong>DailyReport Category</strong></th>
                                <th><strong>DailyReport Url</strong></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (KeyValuePair<string, int> entry in todaysPriceChanges)
                            {
                                <tr>
                                    <td>@entry.Key</td>
                                    <td>@entry.Value</td>
                                    @if (todaysDailyReports[entry.Key] is not null)
                                    {
                                        <td>@todaysDailyReports[entry.Key].Name</td>
                                        <td>@todaysDailyReports[entry.Key].Price€</td>
                                        <td>@todaysDailyReports[entry.Key].Baseprice€</td>
                                        <td>@todaysDailyReports[entry.Key].BasepriceUnit</td>
                                        <td>@todaysDailyReports[entry.Key].Category</td>
                                        <td><MudLink Href="@todaysDailyReports[entry.Key].Url" Target="_blank">Link</MudLink></td>
                                    }
                                    else
                                    {
                                        if (reciveDataUntilHour[entry.Key] > DateTime.UtcNow.Hour)
                                        {
                                            <td><span style="color:orange;">Warte bis @reciveDataUntilHour[entry.Key]  Uhr</span></td>
                                            <td><span style="color:orange;">Warte bis @reciveDataUntilHour[entry.Key]  Uhr</span></td>
                                            <td><span style="color:orange;">Warte bis @reciveDataUntilHour[entry.Key]  Uhr</span></td>
                                            <td><span style="color:orange;">Warte bis @reciveDataUntilHour[entry.Key]  Uhr</span></td>
                                            <td><span style="color:orange;">Warte bis @reciveDataUntilHour[entry.Key]  Uhr</span></td>
                                            <td><span style="color:orange;">Warte bis @reciveDataUntilHour[entry.Key]  Uhr</span></td>
                                        }
                                        else
                                        {
                                            <td><span style="color:red;">NO DATA</span></td>
                                            <td><span style="color:red;">NO DATA</span></td>
                                            <td><span style="color:red;">NO DATA</span></td>
                                            <td><span style="color:red;">NO DATA</span></td>
                                            <td><span style="color:red;">NO DATA</span></td>
                                            <td><span style="color:red;">NO DATA</span></td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                }
            </MudTabPanel>
            <MudTabPanel Text="Andere Info">
                <MudText>Other Info</MudText>
            </MudTabPanel>
        </MudTabs>


    </MudHidden>
}











