@page "/admin"
<MudText Typo="Typo.h4">Admin</MudText>
<MudText Class="mb-4">Bericht für: @DateTime.UtcNow.Date</MudText>
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Täglicher Bericht">
        @if (todaysPriceChanges is not null && todaysDailyReports is not null)
        {

            <MudSimpleTable Style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th><strong>WebShop</strong></th>
                        <th><strong>Neue ProductChanges</strong></th>
                        <th><strong>DailyReport ProductChange</strong></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(KeyValuePair<string, int>entry in todaysPriceChanges)
                    {
                        <tr>
                            <td>@entry.Key</td>
                            <td>@entry.Value</td>
                            @if (todaysDailyReports[entry.Key] is not null)
                            {
                                <td>@todaysDailyReports[entry.Key].Name</td>
                            }
                            else
                            {
                                <td><span style="color:red;">NO DATA</span></td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>



          @*    <MudTable Items="@DailyReports" Hover="true" SortLabel="Sort By">
                 <HeaderContent>
                     <MudTh><MudTableSortLabel SortBy="new Func<CheckDiePreise.Data.Models.DailyReport, object>(x=>x.Identifier)">ArtNr.</MudTableSortLabel></MudTh>
                     <MudTh><MudTableSortLabel Enabled="true" SortBy="new Func<CheckDiePreise.Data.Models.DailyReport, object>(x=>x.Store)">Shop</MudTableSortLabel></MudTh>
                     <MudTh><MudTableSortLabel Enabled="true" SortBy="new Func<CheckDiePreise.Data.Models.DailyReport, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
                     <MudTh><MudTableSortLabel Enabled="true" SortBy="new Func<CheckDiePreise.Data.Models.DailyReport, object>(x=>x.Price)">Preis</MudTableSortLabel></MudTh>
                     <MudTh><MudTableSortLabel Enabled="true" SortBy="new Func<CheckDiePreise.Data.Models.DailyReport, object>(x=>x.Baseprice)">Grundpreis </MudTableSortLabel></MudTh>
                     <MudTh>Details</MudTh>
                 </HeaderContent>
                 <RowTemplate>
                     <MudTd DataLabel="Identifier">@context.Identifier</MudTd>
                     <MudTd DataLabel="Store">@context.Store</MudTd>
                     <MudTd DataLabel="Name"><MudLink Href="@context.Url" Target="_blank">@context.Name</MudLink></MudTd>
                     <MudTd DataLabel="Price">@context.Price / Stk.</MudTd>
                     <MudTd DataLabel="Baseprice">@context.Baseprice @context.BasepriceUnit</MudTd>
                     <MudTd><MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Href=@($"/product/{context.Store}/{context.Name}-{context.Identifier}") /></MudTd>
                 </RowTemplate>
                 <PagerContent>
                     <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                 </PagerContent>
             </MudTable> *@
        }
    </MudTabPanel>
    <MudTabPanel Text="Andere Info">
        <MudText>Other Info</MudText>
    </MudTabPanel>
</MudTabs>





