@page "/"

<PageTitle>Willkommen auf CheckDiePreise!</PageTitle>

<MudGrid>
    <MudItem sm="8" xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
        <MudStack>
            <MudText Typo="Typo.h3">Check die Preise</MudText>
            <MudText Typo="Typo.body1">
                Wie sehr gehen die Preise in deutschen Märkten nach oben oder unten? Wird Butter wirklich immer teurer? Werden Malms (IKEA) immer günstiger? <br />
                    Um sich ein Bild verschaffen zu können, durchsuchen Roboter die Online-Shops der bekanntesten Supermärkte Deutschlands und sammeln Preise in @_availableStores.Count.ToString() WebStores - und das täglich.
            </MudText>
            <MudText Typo="Typo.body1">
                Tägliche werden die Preise aus folgenden Webshops abgerufen: <br/>
                | @foreach (var store in _availableStores)
                    {
                    @($"{store} | ")
                    }
            </MudText>
            <MudText Typo="Typo.body1">
                Erkunde selbst die Daten oder hilf mit, noch mehr Supermärkte, Drogerien oder Baumärkte hinzuzufügen.
            </MudText>

            <MudButton Href="/search" Style="max-width: 300px;" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Zur Produktsuche</MudButton>
        </MudStack>
    </MudItem>

    <MudItem sm="4" xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
        <MudImage Fluid="true" Src="hero.png" Alt="Swedish Farm House" Class="rounded-lg" />
    </MudItem>
</MudGrid>

<MudGrid>
    @if (_minChange is not null)
    {
        <MudItem sm="6" xs="12">
            <MudPaper Class="pa-16 ma-2" Elevation="3">
                <MudStack>
                    <MudText Typo="Typo.h6" Color="Color.Success">Gewinner des Tages <MudIcon Icon="@Icons.Material.Outlined.Mood" Title="Favorite" /></MudText>
                    <MudText Typo="Typo.h6">@_minChange.Name</MudText>
                    <MudText Typo="Typo.body1">@_minChange.Store</MudText>
                    <MudSpacer />
                    <MudText>Preis gestern: @_minChange.PriceBefore.ToString("N2")€ pro Artikel</MudText>
                    <MudText>Preis heute: @_minChange.Price.ToString("N2")€ pro Artikel</MudText>
                    <MudText Color="Color.Success">
                        <strong>
                            Veränderung: @_minChange.Difference.ToString("N2")€ [@(((_minChange.Difference / _minChange.PriceBefore) * 100).ToString("F2"))%]
                        </strong>
                     </MudText>
                    <MudButton Href=@_hrefMinProduct FullWidth="true" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Zum Produkt</MudButton>
                </MudStack>
            </MudPaper>
        </MudItem>
       }
    @if (_maxChange is not null)
    {
        <MudItem sm="6" xs="12">
            <MudPaper Class="pa-16 ma-2" Elevation="3">
                <MudStack>
                    <MudText Typo="Typo.h6" Color="Color.Error">Verlierer des Tages <MudIcon Icon="@Icons.Material.Outlined.MoodBad" Title="Favorite" /></MudText>
                    <MudText Typo="Typo.h6">@_maxChange.Name</MudText>
                    <MudText Typo="Typo.body1">@_maxChange.Store</MudText>
                    <MudSpacer />
                    <MudText>Preis gestern: @_maxChange.PriceBefore.ToString("N2")€ pro Artikel</MudText>
                    <MudText>Preis heute: @_maxChange.Price.ToString("N2")€ pro Artikel</MudText>
                    <MudText Color="Color.Error">
                        <strong>
                            Veränderung: +@_maxChange.Difference.ToString("N2")€ [+@(((_maxChange.Difference / _maxChange.PriceBefore) * 100).ToString("F2"))%]
                        </strong>
                    </MudText>
                    <MudButton Href=@_hrefMaxProduct FullWidth="true" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Zum Produkt</MudButton>
                </MudStack>
            </MudPaper>
        </MudItem>
    }
</MudGrid>

<div style="position: absolute; right: 0; top: 80px;">
@if (_canConnect)
{
    <MudAlert Severity="Severity.Success">Verbunden mit sqlite</MudAlert>
}

else
{
    <MudAlert Severity="Severity.Error">Nicht verbunden: @_usedDb, ConnectionString: @_connectionString</MudAlert>
}

</div>
