@page "/"

<PageTitle>Willkommen auf CheckDiePreise!</PageTitle>

<MudGrid>
    <MudItem sm="8" xs="12" Class="d-flex align-center justify-center mud-width-full py-4">
        <MudStack>

            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <MudText style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: clamp(12px, 10vw, 46px); font-weight:bold">Willkommen</MudText>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
                <MudText style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: clamp(12px, 10vw, 46px); font-weight:bold">Check die Preise</MudText>
            </MudHidden>

            <MudText Typo="Typo.body1">
                Wie sehr gehen die Preise in deutschen Märkten nach oben oder unten?
                <br />
                Wird Butter wirklich immer teurer? Werden Malms bei IKEA immer günstiger? <br />
                Um sich ein Bild verschaffen zu können, durchsuchen Roboter die Online-Shops der bekanntesten WebShops Deutschlands und sammeln Preise in @_availableStores.Count.ToString() WebStores - und das täglich.
            </MudText>
            <MudText Typo="Typo.body1">
                Täglich werden die Preise aus folgenden Webshops abgerufen: <br />
                @string.Join(", ", _availableStores)
            </MudText>
            <MudText Typo="Typo.body1">
                Erkunde selbst die Daten oder hilf mit, noch mehr Supermärkte, Drogerien oder Baumärkte hinzuzufügen.
            </MudText>

            <MudButton Href="/search" Style="max-width: 300px;" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Zur Produktsuche</MudButton>
        </MudStack>
    </MudItem>

    <MudItem sm="4" xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
        <MudImage Fluid="true" Src="hero.png" Alt="CheckDiePreise" Class="rounded-lg" />
    </MudItem>
</MudGrid>

@if (_showSpinner)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudGrid>
        @if (_minChange is not null)
        {
            <MudItem sm="6" xs="12">
                <MudPaper Class="pa-6 ma-2" Elevation="3">
                    <MudStack>
                       

                         <MudStack Row="true" Class="mt-4" Style="flex-wrap: wrap;" Spacing="2">
                            <div style="display: flex; align-items: center; margin-right: 10px;">
                                <MudTooltip Text="Die Preise von heute werden noch gesucht.">
                                <MudText Typo="Typo.h6" Color="Color.Primary">Gewinner von Gestern </MudText>
                                </MudTooltip>
                            </div>
                            <div style="display: flex; align-items: center; margin-right: 10px;color: #53B3DB;">
                                <MudIcon Icon="@Icons.Material.Outlined.Mood" Title="Favorite" />
                            </div>
                        </MudStack>


                        <MudText Typo="Typo.h6">@_minChange.Name</MudText>
                        <MudText Typo="Typo.body1">@_minChange.Store</MudText>
                        <MudSpacer />
                        <MudText>Preis gestern: @_minChange.PriceBefore.ToString("N2")€ pro Artikel</MudText>
                        <MudText>Preis heute: @_minChange.Price.ToString("N2")€ pro Artikel</MudText>
                        <MudText Color="Color.Success">
                            <strong>
                                Veränderung: @_minChange.Difference.ToString("N2")€ [@(((_minChange.Difference / _minChange.PriceBefore) * 100).ToString("F2"))%]
                            </strong>
                        </MudText>
                        <MudButton Href=@_hrefMinProduct FullWidth="true" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Zum Produkt</MudButton>
                    </MudStack>
                </MudPaper>
            </MudItem>
        }
        @if (_maxChange is not null)
        {
            <MudItem sm="6" xs="12">
                <MudPaper Class="pa-6 ma-2" Elevation="3">
                    <MudStack>
                       
                        <MudStack Row="true" Class="mt-4" Style="flex-wrap: wrap;" Spacing="2">
                            <div style="display: flex; align-items: center; margin-right: 10px;">
                                <MudTooltip Text="Die Preise von heute werden noch gesucht.">
                                <MudText Typo="Typo.h6" Color="Color.Secondary">Verlierer von Gestern</MudText>
                                </MudTooltip>
                            </div>
                            <div style="display: flex; align-items: center; margin-right: 10px;color: #DC9B53;">
                                <MudIcon Icon="@Icons.Material.Outlined.MoodBad" Title="Favorite" />
                            </div>
                        </MudStack>


                        <MudText Typo="Typo.h6">@_maxChange.Name</MudText>
                        <MudText Typo="Typo.body1">@_maxChange.Store</MudText>
                        <MudSpacer />
                        <MudText>Preis gestern: @_maxChange.PriceBefore.ToString("N2")€ pro Artikel</MudText>
                        <MudText>Preis heute: @_maxChange.Price.ToString("N2")€ pro Artikel</MudText>
                        <MudText Color="Color.Error">
                            <strong>
                                Veränderung: +@_maxChange.Difference.ToString("N2")€ [+@(((_maxChange.Difference / _maxChange.PriceBefore) * 100).ToString("F2"))%]
                            </strong>
                        </MudText>
                        <MudButton Href=@_hrefMaxProduct FullWidth="true" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Zum Produkt</MudButton>
                    </MudStack>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
}


<div style="position: absolute; right: 0px; top: 100px;">
@if (!_canConnect)
{
    <MudAlert Severity="Severity.Error">Fehler in Datenbank</MudAlert>
}

</div>
