@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Check die Preise &nbsp;</MudText>
        <MudIcon Icon="@Icons.Material.Outlined.BarChart" Title="Favorite" />
        <MudSpacer/>
        
        
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
            <div style="height: 30px; display:flex; gap: 1em;">
                <MudTextField style="height: 35px" Variant="MudBlazor.Variant.Outlined" @bind-Value="_quicksearch" />
                 <MudTooltip Text="Produkt suchen">
                    <MudIconButton Href=@($"/search/{_quicksearch}") Icon="@Icons.Material.Filled.Search" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" Size="Size.Small" />
                </MudTooltip>
            </div>
        </MudHidden>
        <MudTooltip Text="eMail">
            <MudIconButton Icon="@Icons.Material.Filled.Email" Color="Color.Inherit" Edge="Edge.End" />
        </MudTooltip>
        <MudTooltip Text="Zur Git-Repo">
            <MudIconButton Href="https://github.com/SebastianChristoph/checkdiepreise-blazor" Target="_blank" Icon="@Icons.Material.Filled.ForkRight" Color="Color.Inherit" Edge="Edge.End" />
        </MudTooltip>
            
       
       
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudNavMenu>
            <MudNavLink OnClick="@((e) => DrawerToggle(""))" Icon="@Icons.Material.Filled.Dashboard">Home</MudNavLink>
            <MudNavLink OnClick="@((e) => DrawerToggle("search"))" Icon="@Icons.Material.Filled.ManageSearch">Produkt suchen</MudNavLink>
            <MudNavLink OnClick="@((e) => DrawerToggle("daily"))" Icon="@Icons.Material.Filled.CalendarToday">Tägliche Neuigkeiten</MudNavLink>
            <MudNavLink OnClick="@((e) => DrawerToggle("analysis"))" Icon="@Icons.Material.Filled.Dataset">Store Analyse</MudNavLink>
            <MudNavLink OnClick="@((e) => DrawerToggle("about"))" Icon="@Icons.Material.Filled.Info">Über diese Seite</MudNavLink>
@*             <MudNavLink OnClick="@((e) => DrawerToggle("apis"))" Icon="@Icons.Material.Filled.Api">APIs</MudNavLink> *@
            <MudNavLink OnClick="@((e) => DrawerToggle("admin"))" Icon="@Icons.Material.Filled.Login">Admin</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer Class="pt-8" style="min-height: 100vh;max-width: 1500px;" Fixed="true">
            <MudPaper Class="pa-8 ma-2" Elevation="3">
                @Body
            </MudPaper>
        </MudContainer>
        <MudContainer style="min-height: 200px;"></MudContainer>
      
    </MudMainContent>

    <footer style="background-color: #FAFAFA; position: fixed; bottom:0; width: 100%; height: 65px; padding: 1rem;">
        <MudStack Row="true" Reverse="true">
        <MudLink Href="/impressum" Class="mr-4" Color="Color.Dark">Impressum</MudLink>
        <MudLink Href="/datenschutz" Class="mr-4" Color="Color.Dark">Datenschutz</MudLink>
        <MudText Class="mr-4" Color="Color.Dark">Copyright 2024</MudText>
        </MudStack>
    </footer>
</MudLayout>

